smmap==5.0.2
ftfy==6.3.1
gitdb==4.0.12
nvidia-cudnn-cu12==9.10.2.21
nvidia-nccl-cu12==2.27.5
torch==2.9.1
hjson==3.1.0
torch-lr-finder==0.2.2
pydantic_core==2.41.5
mpi4py==4.1.1
torchao==0.14.1
transformers==4.57.1
annotated-types==0.7.0
triton==3.5.1
wandb==0.23.0
filelock==3.20.0
nvidia-cuda-nvrtc-cu12==12.8.93
ninja==1.13.0
GitPython==3.1.45
hf-xet==1.2.0
nvidia-cublas-cu12==12.8.4.1
huggingface-hub==0.36.0
einops==0.8.1
nvidia-nvshmem-cu12==3.3.20
sympy==1.14.0
mpmath==1.3.0
safetensors==0.6.2
datasets==4.4.1
nvidia-nvjitlink-cu12==12.8.93
dill==0.4.0
regex==2025.11.3
pyarrow==22.0.0
nvidia-cusolver-cu12==11.7.3.90
nvidia-nvtx-cu12==12.8.90
nvidia-cusparselt-cu12==0.7.1
chardet==5.2.0
tokenizers==0.22.1
multiprocess==0.70.18
nvidia-cusparse-cu12==12.5.8.93
sentry-sdk==2.45.0
nvidia-cuda-cupti-cu12==12.8.90
xxhash==3.6.0
deepspeed==0.18.2
nvidia-cuda-runtime-cu12==12.8.90
typing-inspection==0.4.2
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
pydantic==2.12.4
langdetect==1.0.9
nvidia-curand-cu12==10.3.9.90
pip==25.1.1
PySocks==1.7.1
tqdm==4.67.1
platformdirs==4.3.8
libmambapy==2.2.0
pycparser==2.22
archspec==0.2.5
requests==2.32.3
menuinst==2.2.0
jsonpointer==3.0.0
wheel==0.45.1
boltons==24.0.0
hpack==4.1.0
ruamel.yaml.clib==0.2.8
conda==25.5.0
packaging==25.0
distro==1.9.0
idna==3.10
frozendict==2.4.6
pluggy==1.6.0
cffi==1.17.1
jsonpatch==1.33
conda_package_streaming==0.11.0
conda-libmamba-solver==25.4.0
ruamel.yaml==0.18.12
conda-package-handling==2.4.0
urllib3==2.4.0
pycosat==0.6.6
h2==4.2.0
charset-normalizer==3.4.2
Brotli==1.1.0
colorama==0.4.6
hyperframe==6.1.0
zstandard==0.23.0
truststore==0.10.1
certifi==2025.4.26
absl-py==2.3.1
numpy==2.3.5
pillow==12.0.0
Markdown==3.10
tensorboard-data-server==0.7.2
typing_extensions==4.15.0
typing_extensions==4.14.0
Werkzeug==3.1.3
grpcio==1.76.0
tensorboard==2.20.0
MarkupSafe==3.0.3
protobuf==6.33.1
setuptools==80.9.0
bitsandbytes==0.48.2
python-json-logger==2.0.7
parso==0.8.4
python-louvain==0.16
statsmodels==0.14.4
notebook_shim==0.2.4
holoviews==1.20.2
pandocfilters==1.5.0
cached-property==1.5.2
execnet==2.1.1
yarl==1.20.0
cuda-bindings==12.9.0
pickleshare==0.7.5
referencing==0.36.2
pkgutil_resolve_name==1.3.10
uri-template==1.3.0
Cython==3.1.1
importlib_resources==6.5.2
tifffile==2025.6.1
jedi==0.19.2
pandas==2.2.3
bokeh==3.7.3
pyproj==3.7.1
dask-cudf==25.6.0
beautifulsoup4==4.13.4
websocket-client==1.8.0
pyogrio==0.11.0
dask-ml==2023.3.24
branca==0.8.1
webencodings==0.5.1
lz4==4.4.4
Pygments==2.19.1
importlib_metadata==8.7.0
confluent-kafka==2.8.0
bleach==6.2.0
cucim==25.6.0
cuml==25.6.0
tornado==6.5.1
jsonschema==4.24.0
json5==0.12.0
networkx==3.5
PyWavelets==1.8.0
click==8.2.1
pylibcugraph==25.6.0
exceptiongroup==1.3.0
cytoolz==1.0.1
jupyter_server==2.16.0
uc-micro-py==1.0.3
rich==14.0.0
cuxfilter==25.6.0
linkify-it-py==2.0.3
jupyter_core==5.8.1
python-dateutil==2.9.0.post0
jupyterlab_pygments==0.3.0
imageio==2.37.0
anyio==4.9.0
cudf-polars==25.6.0
jupyter-events==0.12.0
frozenlist==1.6.0
prompt_toolkit==3.0.51
fastrlock==0.8.3
jupyter==1.1.1
nest_asyncio==1.6.0
async-lru==2.0.5
jupyterlab_widgets==3.0.15
h11==0.16.0
isoduration==20.11.0
aiohttp==3.12.8
seaborn==0.13.2
rfc3339_validator==0.1.4
terminado==0.18.1
llvmlite==0.44.0
ipykernel==6.29.5
fsspec==2025.5.1
nvidia-ml-py==12.575.51
argon2-cffi==25.1.0
notebook==7.4.3
pyparsing==3.2.3
zict==3.0.0
pyct==0.5.0
datashader==0.18.1
jupyter_server_proxy==4.4.0
nbformat==5.10.4
nvtx==0.2.12
fonttools==4.58.1
zipp==3.22.0
pyarrow==19.0.1
polars==1.26.0
widgetsnbextension==4.0.14
imagecodecs==2025.3.30
jupyter_server_terminals==0.5.3
ipython==9.3.0
pytest-xdist==3.7.0
cycler==0.12.1
geopandas==1.1.0
types-python-dateutil==2.9.0.20250516
sortedcontainers==2.4.0
ucxx==0.44.0
jupyterlab==4.4.3
scikit-image==0.24.0
distributed-ucxx==0.44.0
PyYAML==6.0.2
fastjsonschema==2.21.1
asttokens==3.0.0
jupyter-lsp==2.2.5
cugraph==25.6.0
dask_labextension==7.0.0
nx-cugraph==25.6.0
jupyter-console==6.6.3
defusedxml==0.7.1
overrides==7.7.0
jupyterlab_nvdashboard==0.13.0
rich-click==1.8.9
pytz==2025.2
attrs==25.3.0
contourpy==1.3.2
partd==1.4.2
param==2.2.0
mdit-py-plugins==0.4.2
mistune==3.1.3
shapely==2.1.1
pyviz_comms==3.0.4
simpervisor==1.0.0
debugpy==1.8.14
tblib==3.1.0
arrow==1.3.0
nbconvert==7.16.6
pexpect==4.9.0
Send2Trash==1.8.3
raft-dask==25.6.0
kiwisolver==1.4.7
iniconfig==2.0.0
dask-glm==0.3.2
joblib==1.5.1
patsy==1.0.1
executing==2.2.0
locket==1.0.0
cachetools==6.0.0
matplotlib==3.10.3
pylibraft==25.6.0
pynvml==12.0.0
Jinja2==3.1.6
mdurl==0.1.2
cudf==25.6.0
scipy==1.15.2
ipython_pygments_lexers==1.1.1
prometheus_client==0.22.1
ipywidgets==8.1.7
matplotlib-inline==0.1.7
numba==0.61.2
pytest-benchmark==5.1.0
rmm==25.6.0
colorcet==3.1.0
nbclient==0.10.2
wcwidth==0.2.13
jupyter_client==8.6.3
rapids-dask-dependency==25.6.0a0
folium==0.19.7
distributed==2025.5.0
msgpack==1.1.0
pylibcudf==25.6.0
psutil==7.0.0
coverage==7.8.2
sparse==0.17.0
threadpoolctl==3.6.0
ptyprocess==0.7.0
numba-cuda==0.11.0
propcache==0.3.1
pyzmq==26.4.0
tzdata==2025.2
stack_data==0.6.3
argon2-cffi-bindings==21.2.0
markdown-it-py==3.0.0
scikit-learn==1.7.0
jupyterlab_server==2.27.3
streamz==0.6.4
rpds-py==0.25.1
pytest==8.4.0
xyzservices==2025.4.0
ucx-py==0.44.0
traitlets==5.14.3
dask==2025.5.0
babel==2.17.0
toml==0.10.2
webcolors==24.11.1
pure_eval==0.2.3
tinycss2==1.4.0
multipledispatch==0.6.0
xgboost==3.0.2
httpcore==1.0.9
tomli==2.2.1
decorator==5.2.1
ply==3.11
munkres==1.1.4
six==1.17.0
rapids-cli==0.1.2
aiosignal==1.3.2
pytest-cov==6.1.1
typing_utils==0.1.0
xarray==2025.4.0
treelite==4.4.1
pynvjitlink-cu12==0.6.0
httpx==0.28.1
panel==1.7.1
jsonschema-specifications==2025.4.1
py-cpuinfo==9.0.0
dask-cuda==25.6.0
cloudpickle==3.1.1
unicodedata2==16.0.0
custreamz==25.6.0
sniffio==1.3.1
aiohappyeyeballs==2.6.1
cupy==13.4.1
cudf_kafka==25.6.0
mapclassify==2.9.0
soupsieve==2.7
rfc3986-validator==0.1.1
cuvs==25.6.0
multidict==6.4.4
fqdn==1.5.1
thriftpy2==0.5.2
cuda-python==12.9.0
toolz==1.0.0
narwhals==1.41.1
lazy_loader==0.4
comm==0.2.2
typing_extensions==4.12.2
autocommand==2.2.2
backports.tarfile==1.2.0
platformdirs==4.2.2
jaraco.text==3.12.1
importlib_metadata==8.0.0
wheel==0.45.1
jaraco.functools==4.0.1
zipp==3.19.2
tomli==2.0.1
inflect==7.3.1
jaraco.context==5.3.0
packaging==24.2
more-itertools==10.3.0
typeguard==4.3.0
jaraco.collections==5.1.0
